* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.bgb {
    background-color: blue;
}

.orangered {
    background-color: orangered;
}

.img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.soc_icon {
    background: darkorange;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
    column-gap: 5px;
    padding: 0 50px;
}

.header {
    background-color: darkorange;
    color: #fff;
}

.header_top {
    background-color: lightgray;
    padding: 10px 0 25px;
}

.header_top_nav {
    align-items: end;
    justify-content: space-between;
}

.header_logo {
    height: 50px;
    width: 150px;
    border-radius: 5px;
}

.nav_item {
    display: inline-block;
    margin-right: 10px;
}

.header_main {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    row-gap: 20px;
}

.titile_text {
    text-align: center;
}

.header_main button {
    margin-top: 25px;
    color: #fff;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: 1s;
}

.header_main button:hover {
    background-color: orange;
    transition: .3s;
    box-shadow: 0 5px 0 orangered;
}

.main {
    background-color: lightgray;
}

.products {
    padding: 20px;
}

.products_wrap {
    padding: 20px 50px;
    border: 1px solid orangered;
    border-radius: 30px;
}

.products_list {
    column-gap: 20px;
    justify-content: space-around;
}

.products_image {
    height: 200px;
    border-radius: 10px;
}

.products_item {
    flex-grow: 1;
}

.products_item p {
    text-align: center;
    margin-top: 15px;
    font-weight: 700;
}

.products_title {
    text-align: center;
    margin-bottom: 20px;
}

.profiles {
    padding: 30px;
}

.profiles_list {
    justify-content: space-between;
}

.profiles_card {
    width: 30%;
    border: 2px solid transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    row-gap: 10px;
    cursor: pointer;
    transition: .3s;
    padding: 10px;
}

.profiles_card:hover {
    border-color: orange;
}

.profiles_photo {
    background-color: lightgray;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profiles_name {
    font-size: 20px;
    font-weight: 700;
}

.info {
    background-color: lightgray;
    text-align: center;
    flex-direction: column;
    row-gap: 50px;
    padding: 60px;
}

.about_before {
    width: 50%;
    background-color: darkorange;
    padding: 50px;
    flex-direction: column;
    text-align: start;
    row-gap: 20px;
    color: #ffffff;
}

.about_after {
    width: 50%;
    padding: 50px;
    flex-direction: column;
    text-align: start;
    row-gap: 20px;
    color: #ffffff;
}

.btn {
    margin-top: 25px;
    color: #fff;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_before a {
    background-color: #e13e01;
}

.about_after a {
    background-color: darkorange;
}

.about_before a:hover {
    background-color: orangered;
    transition: .3s;
}

.about_before a:active {
    background-color: #c42f02;
}

.about_after a:hover {
    background-color: #fd6e08;
    transition: .3s;
}

.about_after a:active {
    background-color: #d33f00;
}


.footer {
    background-color: orange;
    padding: 30px 100px;
    justify-content: center;
}

.footer_info {
    width: 50%;
    border-bottom: 5px solid orangered;
    column-gap: 20px;
    justify-content: center;
}

.footer_links {
    background-color: lightgray;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.places {
    flex-direction: column;
    row-gap: 20px;
}

.new_places {
    column-gap: 20px;
}

.new_places_item {
    border: darkorange solid 3px;
    border-radius: 15px;
    text-align: start;
    flex-direction: column;
}

.new_places_item_wrap {
    padding: 20px;
    row-gap: 10px;
    flex-direction: column;
}

.new_places_item_desc {
    justify-content: space-between;
}

.new_places_item_desc_left {
    background-color: #F5C532;
    height: 10px;
    width: 100px;
    border-radius: 5px;
}

.new_places_item_desc_right {
    column-gap: 10px;
}

.new_places_item_desc_right_block {
    background-color: #FEA500;
    width: 40px;
    height: 10px;
    border-radius: 5px;
}

.new_places_item_footer {
    justify-content: space-between;
    padding: 20px;
    border-top: darkorange solid 3px;
}

.new_places_item_footer_logo {
    height: 30px;
    width: 80px;
    border-radius: 10px;
}

.new_places_item_footer_nav {
    column-gap: 10px;
}

.new_places_item_footer_nav_item {
    border-radius: 8px;
    height: 30px;
    width: 30px;
}

.old_places {
    column-gap: 20px;
}

.old_places_item {
    border: darkorange solid 3px;
    border-radius: 15px;
    text-align: start;
    flex-direction: column;
}

.old_places_item_wrap {
    padding: 20px;
    row-gap: 10px;
    flex-direction: column;
}

.old_places_item_desc {
    justify-content: space-between;
}

.old_places_item_desc_left {
    background-color: #F5C532;
    height: 10px;
    width: 100px;
    border-radius: 5px;
}

.old_places_item_desc_right {
    column-gap: 10px;
}

.old_places_item_desc_right_block {
    background-color: #FEA500;
    width: 40px;
    height: 10px;
    border-radius: 5px;
}

.old_places_item_footer {
    justify-content: space-between;
    padding: 20px;
    border-top: darkorange solid 3px;
}

.old_places_item_footer_logo {
    height: 30px;
    width: 80px;
    border-radius: 10px;
}

.old_places_item_footer_nav {
    column-gap: 10px;
}

.old_places_item_footer_nav_item {
    border-radius: 8px;
    height: 30px;
    width: 30px;
}
