@media screen and (max-width: 375px) {

    .header_logo {
        height: 30px;
        width: 75px;
    }

    .nav_item {
        margin-right: 3px;
    }

    .products_list {
        flex-direction: column;
    }

    .products_item p {
        margin-bottom: 15px;
    }

    .profiles_list {
        flex-direction: column;
        align-items: center;
    }

    .places {
        padding: 20px;
    }

    .new_places {
        flex-direction: column;
        row-gap: 20px;
    }

    .new_places_item_footer_logo {
        height: 15px;
        width: 40px;
    }

    .new_places_item_footer_nav_item {
        height: 15px;
        width: 25px;
    }

    .new_places_item_desc_left {
        width: 60px;
    }

    .new_places_item_desc_right_block {
        width: 30px;
    }

    .old_places_item_desc_left {
        width: 60px;
    }

    .old_places_item_desc_right_block {
        width: 30px;
    }

    .old_places_item_footer_logo {
        height: 15px;
        width: 40px;
    }

    .old_places_item_footer_nav_item {
        height: 15px;
        width: 25px;
    }

    .old_places {
        flex-direction: column;
        row-gap: 20px;
    }

    .img {
        height: 180px;
    }

    .info {
        row-gap: 10px;
        padding: 10px;
    }

    .about {
        flex-direction: column;
        padding: 0;
    }

    .before_title {
        align-self: start;
    }

    .after_title {
        align-self: start;
    }

    .about_after {
        width: 100%;
        align-items: center;
    }

    .about_before {
        width: 100%;
        align-items: center;
    }

    .about_before a {
        width: 150px;
        align-items: center;
        justify-content: center;
    }

    .about_after a {
        width: 150px;
    }

    .footer {
        padding: 30px 70px;
    }

    .footer_info {
        width: 100%;
    }

    .footer_links {
        width: 30px;
        height: 30px;
        border-radius: 7px;
    }

    .profiles_card {
        width: 100%;
    }
}