* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background: gray;
    width: 1000px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 5px;
}

.header {
    background: pink;
    width: 100%;
    height: 200px;
}

.main {
    width: 100%;
    height: 400px;
    display: flex;
    column-gap: 5px;
}

.left {
    height: 400px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.right {
    background: firebrick;
    height: 400px;
    flex-grow: 1;
}

.content {
    width: 100%;
    height: 200px;
    display: flex;
    column-gap: 5px;
}

.box {
    align-items: stretch;
    flex-grow: 1;
}

.up_content{
    background: white;
}

.down_content {
    background: white;
}