* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

.collapse .navbar-nav .nav-link {
    font-family: 'Open Sans', sans-serif;    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: white;
}

.collapse .navbar-nav .nav-link:hover {
    color: #FEA500;
}

.container {
    padding-top: 50px;
}

.navbar-brand {
    margin-right: 268px;
}

.header {
    background: url("../img/hero image.png") no-repeat center/cover;
    height: 100vh;
}

.header__contact {
    padding-left: 30px;
    border-left: #ffffff solid 1px;
    column-gap: 50px;
}

.header__phone {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    width: 160px;
}

.header__phone span {
    font-size: 18px;
    line-height: 25px;
}

.bttn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: #FF7400;
    height: 47px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-size: 14px;
    line-height: 19px;
    width: 157px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.header__button:hover {
    background-color: #ff9011;
    color: white;
}

.header__button:active {
    background-color: #d36000;
}

.header__title {
    font-family: 'Tinos', serif;
    color: #D67E35;
    margin-top: 203px;
    max-width: 550px;
}

.header__title h2 {
    font-size: 50px;
    line-height: 57px;
    margin-left: 24px;
}

.header__title h1 {
    font-size: 80px;
    line-height: 92px;
}

.header__title p {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin-top: 12px;
    margin-bottom: 21px;
    margin-left: 95px;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.header__title p::before, .header__title p::after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background-color: #c4c4c4;
}

.header__main_btn {
    display: flex;
    justify-content: center;
}

.about {
    height: 100vh;
    background-color: #E5E5E5;
}

.about__list {
    top: -100px;
    column-gap: 31px;
    padding: 0 165px;
}

.about__list_item {
    width: 349px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Tinos', serif;
    font-size: 26px;
    line-height: 30px;
    padding: 0 10px;
}

.card img {
    width: 100px;
    height: 100px;
}

.about__list_item p {
    color: #656363;
}

.list__title {
    color: #2C2C2C;
}

.list__title2 {
    color: #BC9060;
}